doctype html
html
  head
    title Word Cloud

    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1', name='viewport')


    link(rel='shortcut icon', href='assets/images/favicon.png')
    link(href='assets/css/style.css?ts=#{Date.now()}', rel='stylesheet')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
    link(href='//fonts.googleapis.com/css?family=Roboto:400,700,300', rel='stylesheet', type='text/css')

    script(src='assets/js/app.js')

  body
    main
